* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

input {
  outline: none; }

span {
  font-weight: bold; }

header {
  background-color: #0e0e0e;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: normal; }
  header nav {
    justify-content: space-between; }
    header nav div a img {
      width: 148px; }
    header nav div div ul li a {
      color: #f6f5e9 !important; }
      header nav div div ul li a:hover {
        color: #FFB400 !important; }

main {
  background-color: #f6f5e9;
  color: #0e0e0e;
  font-family: 'Inter', sans-serif; }
  main .primerImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(../img/inicio.jpg);
    background-repeat: no-repeat;
    height: 850px;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    main .primerImagen h2 {
      font-size: 140px;
      color: #f6f5e9;
      font-style: normal;
      font-family: 'Belleza', sans-serif; }
    main .primerImagen p {
      margin-top: -19px;
      margin-bottom: 50px;
      color: #f6f5e9a2;
      font-size: 25px;
      font-weight: 340; }
  main .presentacionFragancias .primerDiv {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 500px;
    grid-template-areas: "primerTexto primerFoto";
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    main .presentacionFragancias .primerDiv .primerTexto {
      text-align: justify;
      font-size: 40px;
      padding: 0px 70px 0px 70px; }
  main .presentacionFragancias .segundoDiv {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 500px 1fr;
    grid-template-areas: "segundaFoto segundoTexto";
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    main .presentacionFragancias .segundoDiv .segundoTexto {
      text-align: justify;
      font-size: 40px;
      padding: 0px 70px 0px 70px;
      display: flex;
      align-self: center; }
  main .presentacionFragancias .fraganciasInicio {
    width: 500px; }
  main .titulo {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    margin: 0px;
    padding: 8px 0px 8px 0px; }
  main .newCollection {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .newCollection img {
      width: 1200px;
      margin-bottom: 20px; }
  main .fragancias {
    display: grid;
    grid-template-rows: auto;
    /* x */
    grid-template-columns: repeat(4, 1fr);
    /* y */
    grid-template-rows: 1fr;
    grid-template-areas: "men ocean sunset night"; }
    main .fragancias .divPerfumes {
      width: 440px;
      height: auto;
      border: 2px #0e0e0e solid;
      margin: 16px 0px 16px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      justify-self: center;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; }
      main .fragancias .divPerfumes h3 {
        margin: 5px; }
      main .fragancias .divPerfumes .perfumes {
        margin: 1px;
        width: 400px; }
      main .fragancias .divPerfumes a {
        background-color: #32dd32;
        color: #0e0e0e;
        font-size: 21px;
        padding: 8px;
        margin: 8px;
        transition: 300ms; }
        main .fragancias .divPerfumes a:hover {
          background-color: #26ff26;
          color: #0e0e0e; }
      main .fragancias .divPerfumes p {
        text-align: justify;
        width: 400px; }
    main .fragancias .men {
      position: relative; }
    main .fragancias .night {
      position: relative; }
    main .fragancias .new {
      position: absolute;
      top: 20px;
      right: 0; }
  main .gold {
    margin-top: 50px;
    padding-bottom: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .gold h3 {
      font-size: 70px;
      font-style: bold;
      margin: 0px;
      padding: 8px 0px 8px 0px; }
    main .gold img {
      width: 1300px; }
    main .gold div {
      width: 1300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 20px; }
  main .texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-bottom: 20px; }
    main .texto .textoPre {
      width: 1100px; }
    main .texto div {
      width: 1100px; }
      main .texto div p {
        font-size: 24px; }
  main .formularioContacto {
    padding-bottom: 20px; }
    main .formularioContacto .card {
      background-color: #f6f5e9;
      border: #0e0e0e solid 2px; }
      main .formularioContacto .card div form div .btn {
        border: #0e0e0e solid 2px;
        color: #0e0e0e; }
        main .formularioContacto .card div form div .btn:hover {
          background-color: #0e0e0e;
          color: #f6f5e9; }
  main .accordion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px; }
    main .accordion .accordion-item {
      width: 1100px;
      background-color: #f6f5e9; }
      main .accordion .accordion-item .accordion-header .accordion-button {
        font-size: 26px;
        font-weight: bold;
        background-color: #f6f5e9;
        background-color: #f6f5e9 !important;
        color: #0e0e0e !important; }
      main .accordion .accordion-item .accordion-collapse {
        background-color: #f6f5e9 !important;
        color: #0e0e0e !important; }
        main .accordion .accordion-item .accordion-collapse .accordion-body {
          font-size: 22px;
          font-weight: normal;
          text-align: justify;
          background-color: #f6f5e9 !important;
          color: #0e0e0e !important; }

footer {
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  color: #f6f5e9;
  font-size: 20px;
  background-color: #0e0e0e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "navFooter redesSociales extra";
  place-items: start center; }
  footer .navFooter .tituloFooter, footer .redesSociales .tituloFooter, footer .extra .tituloFooter {
    color: #f6f5e9;
    margin-bottom: 8px; }
  footer .navFooter li a, footer .redesSociales li a, footer .extra li a {
    color: #a0a0a0 !important;
    transition: 300ms; }
    footer .navFooter li a:hover, footer .redesSociales li a:hover, footer .extra li a:hover {
      color: #f6f5e9 !important; }
