* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

input {
  outline: none; }

span {
  font-weight: bold; }

header {
  background-color: #0e0e0e;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: normal; }
  header nav {
    justify-content: space-between; }
    header nav div a img {
      width: 148px; }
    header nav div div ul li a {
      color: #f6f5e9 !important; }
      header nav div div ul li a:hover {
        color: #FFB400 !important; }

main {
  background-color: #f6f5e9;
  color: #0e0e0e;
  font-family: 'Inter', sans-serif; }
  main .primerImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(../img/inicio.jpg);
    background-repeat: no-repeat;
    height: 850px;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    main .primerImagen h2 {
      font-size: 140px;
      color: #f6f5e9;
      font-style: normal;
      font-family: 'Belleza', sans-serif; }
    main .primerImagen p {
      margin-top: -19px;
      margin-bottom: 50px;
      color: #f6f5e9a2;
      font-size: 25px;
      font-weight: 340; }
  main .presentacionFragancias .primerDiv {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 500px;
    grid-template-areas: "primerTexto primerFoto";
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    main .presentacionFragancias .primerDiv .primerTexto {
      text-align: justify;
      font-size: 40px;
      padding: 0px 70px 0px 70px; }
  main .presentacionFragancias .segundoDiv {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 500px 1fr;
    grid-template-areas: "segundaFoto segundoTexto";
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    main .presentacionFragancias .segundoDiv .segundoTexto {
      text-align: justify;
      font-size: 40px;
      padding: 0px 70px 0px 70px;
      display: flex;
      align-self: center; }
  main .presentacionFragancias .fraganciasInicio {
    width: 500px; }

footer {
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
  color: #f6f5e9;
  font-size: 20px;
  background-color: #0e0e0e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "navFooter redesSociales extra";
  place-items: start center; }
  footer .navFooter .tituloFooter, footer .redesSociales .tituloFooter, footer .extra .tituloFooter {
    color: #f6f5e9;
    margin-bottom: 8px; }
  footer .navFooter li a, footer .redesSociales li a, footer .extra li a {
    color: #a0a0a0 !important;
    transition: 300ms; }
    footer .navFooter li a:hover, footer .redesSociales li a:hover, footer .extra li a:hover {
      color: #f6f5e9 !important; }
