footer{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    color: $colorWhite;
    font-size: 20px;
    background-color: $colorBlack;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navFooter redesSociales extra"
    ;
    place-items: start center;
    .navFooter, .redesSociales, .extra{
        .tituloFooter{
            color: $colorWhite;
            margin-bottom: 8px;
        }
        li{
            a{
                color: #a0a0a0;
                transition: 330ms;
                &:hover{
                    color: $colorWhite;
                    font-size: 20.4px;
                }
            }
        }
    }
}