footer{
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
    color: #f6f5e9;
    font-size: 20px;
    background-color: #0e0e0e;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navFooter redesSociales extra"
    ;
    place-items: start center;
    .navFooter, .redesSociales, .extra{
        .tituloFooter{
            color: #f6f5e9;
            margin-bottom: 8px;
        }
        li{
            a{
                color: #a0a0a0 !important;
                transition: 300ms;
                &:hover{
                    color: #f6f5e9 !important;
                }
            }
        }
    }
}