header{
    background-color: $colorBlack;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: normal;
    nav{
        justify-content: space-between;
        div{
            a{
                img{
                    width: 148px;
                }
            }
            div{
                ul{
                    li{
                        a{
                            color: $colorWhite;
                            &:hover{
                                color: $colorOrange !important;
                            }
                        }
                    }
                }
            }
        }
    }
}